#navi
  %ul
    %li
      %a{:href => "http://www.esm.co.jp"}
        Home
    %li
      %a{:href => "http://ruby.agile.esm.co.jp"}
        RubyxAgile

#main
  #abstract
    %h1
      スクラムとは？
    %p
      反復かつ繰り返し型のアジャイルソフトウェア開発手法の１つです。他と比べ、プロジェクト運営のシンプルな活動を定義していることが特徴です。

    %image{:src => "images/scrum.png"}

    
    %h3
      チーム
    %p
      テスター、プログラマー、データベースエンジニア、ユーザビリティ専門家、ドメイン専門家、ビジネスアナリスト等の役割の人々を
      まとめてチームとスクラムでは呼びます。
      ひとまとめにチームと呼ぶのは、それぞれの専門家が密に協力し合ことで、共通のゴールである価値のあるソフトウェアをつくることを意図しているためです。
    %h3
      プロダクトオーナー
    %p
      フィーチャ（機能）を取りまとめ、優先度を最終決定する権限と責任を持つ人です。優先度の高い順に並べた機能リストであるプロダクトバックログを管理します。
    %h3
      スクラムマスター
    %p
      プロジェクトを円滑に進めることに責任を持つ人です。プロジェクト初期は、スクラム流のプロジェクト運営の維持に努めます。中後期は、チームメンバーの主体的な行動を引き出し、すごい成果を生み出すチームづくりに貢献します。
    
    
      