body {
  font-family: Verdana;
  font-size: 10pt; }

#abstract {
  margin: 10px; }
  #abstract table {
    width: 900px;
    align: center;
    margin: auto; }
  #abstract .header {
    font-weight: 900;
    font-size: 24pt; }
  #abstract .message {
    font-size: 16pt; }
  #abstract .timepiece {
    width: 100px;
    height: 100px; }
  #abstract td {
    padding: 5px; }

#service {
  margin: 10px; }
  #service table {
    width: 1000px;
    align: center;
    margin: auto; }
  #service .title {
    font-weight: bold;
    font-size: 24pt; }
  #service td {
    halign: center;
    margin: auto;
    width: 300px;
    border: medium solid #f5f5f5; }
  #service .service_image {
    height: 100px; }
  #service tr.service_abstract td {
    padding: 10px 30px 10px 30px; }

#why {
  width: 1000px;
  align: center;
  margin: auto; }
